<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      
      <section name="Quandl.Excel.Addin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <userSettings>
    
    <Quandl.Excel.Addin.Properties.Settings>
      <setting name="DatatableFilterNoteOne" serializeAs="String">
        <value>Specify how you would like to filter data with any of the options below or none.</value>
      </setting>
      <setting name="DatatableFilterNoteTow" serializeAs="String">
        <value>If you skip this step, then you will receive all of the data for the for the columns you have selected previously.</value>
      </setting>
      <setting name="DatatableFilterDateRange" serializeAs="String">
        <value>Select the {0} you want to see the data for.</value>
      </setting>
      <setting name="DatatableFilterTicker" serializeAs="String">
        <value>Type in the {0} that you would like to filter on. Separate each item with a comma.</value>
      </setting>
      <setting name="DatatableFilterFloatNumber" serializeAs="String">
        <value>Enter in the {0} that you would like the data for.</value>
      </setting>
      <setting name="DatatableFilterIntegerNumber" serializeAs="String">
        <value>Enter in the {0} that you would like the data for.</value>
      </setting>
      <setting name="DataCodeValidationMessage" serializeAs="String">
        <value>"{0}" is not a valid code.</value>
      </setting>
      <setting name="SettingsInValidApiKey" serializeAs="String">
        <value>Please check your API key.</value>
      </setting>
      <setting name="SettingsIncorrectUsernameOrPassword" serializeAs="String">
        <value>Your username or password is incorrect.</value>
      </setting>
      <setting name="SettingsIncorrectCredentials" serializeAs="String">
        <value>Invalid login credentials.</value>
      </setting>
      <setting name="SettingsSomethingWrongTryLater" serializeAs="String">
        <value>Something went wrong. Please try again later.</value>
      </setting>
      <setting name="SettingsSaveWarning" serializeAs="String">
        <value>Are you sure you want to save?</value>
      </setting>
      <setting name="SettingsSaveConfirmation" serializeAs="String">
        <value>Save Confirmation</value>
      </setting>
      <setting name="CheckUpdateNewUpatateAvailable" serializeAs="String">
        <value>New version available for download</value>
      </setting>
      <setting name="CheckUpdateNoUpatateAvailable" serializeAs="String">
        <value>No update available for download</value>
      </setting>
      <setting name="CheckUpdatesReleaseNoteTitle" serializeAs="String">
        <value>Release Note for {0}</value>
      </setting>
    </Quandl.Excel.Addin.Properties.Settings>
  </userSettings>
</configuration>
