<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Quandl.Shared.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Quandl.Shared.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Quandl.Shared.Properties.Settings>
      <setting name="ApiKey" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoUpdate" serializeAs="String">
        <value>False</value>
      </setting>
    </Quandl.Shared.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <Quandl.Shared.Properties.Settings>
      <setting name="BaseUrl" serializeAs="String">
        <value>https://www.quandl.com/api/v3/</value>
      </setting>
      <setting name="SentryUrl" serializeAs="String">
        <value>https://1ceee60045814f2181d1472ff7de3c80:cc70ae50b4df44fb8af055d663da8594@app.getsentry.com/92967</value>
      </setting>
    </Quandl.Shared.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>
