<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Quandl.Excel.Addin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Quandl.Excel.Addin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Quandl.Excel.Addin.Properties.Settings>
      <setting name="DataCodeValidationMessage" serializeAs="String">
        <value>"{0}" is not a valid code.</value>
      </setting>
    </Quandl.Excel.Addin.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <Quandl.Excel.Addin.Properties.Settings>
      <setting name="DatatableFilterNoteOne" serializeAs="String">
        <value>Specify how you would like to filter data with any of the options below or none.</value>
      </setting>
      <setting name="DatatableFilterNoteTow" serializeAs="String">
        <value>If you skip this step, then you will receive all of the data for the for the columns you have selected previously.</value>
      </setting>
      <setting name="DatatableFilterDateRange" serializeAs="String">
        <value>Select the {0} you want to see the data for.</value>
      </setting>
      <setting name="DatatableFilterTicker" serializeAs="String">
        <value>Type in the {0} that you would like to filter on. Separate each item with a comma.</value>
      </setting>
      <setting name="DatatableFilterFloatNumber" serializeAs="String">
        <value>Enter in the {0} that you would like the data for.</value>
      </setting>
      <setting name="DatatableFilterIntegerNumber" serializeAs="String">
        <value>Enter in the {0} that you would like the data for.</value>
      </setting>
    </Quandl.Excel.Addin.Properties.Settings>
  </userSettings>
</configuration>
