<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="3.1.5" targetFramework="net461" />
  <package id="Excel-DNA" version="0.34.6" targetFramework="net461" />
  <package id="ExcelDna.AddIn" version="0.34.6" targetFramework="net461" />
  <package id="ExcelDna.Integration" version="0.34.6" targetFramework="net461" />
  <package id="ExcelDna.IntelliSense" version="1.0.3" targetFramework="net461" />
  <package id="ExcelDna.Registration" version="0.34.6" targetFramework="net461" />
  <package id="Fody" version="3.2.9" targetFramework="net461" developmentDependency="true" />
  <package id="morelinq" version="2.3.0" targetFramework="net461" />
  <package id="UIAComWrapper" version="1.1.0.14" targetFramework="net461" />
</packages>